<div *ngIf="item">
  <h2>{{item.name | uppercase}} Details</h2>
  <div><span>id: </span>{{item.id}}</div>
  <div>
    <label for="item-name">item name: </label>
    <input id="item-name" [(ngModel)]="item.name" placeholder="item name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->